@font-face {
	font-family: 'League Gothic';
	src: url('../fonts/League_Gothic.eot');
	src: local('League Gothic Regular'), local('LeagueGothic'), url('../fonts/League_Gothic.woff') format('woff'), url('../fonts/League_Gothic.otf') format('opentype'), url('../fonts/League_Gothic.svg#LeagueGothic') format('svg');
}
body {
	font-family: Georgia, serif;
	font-size: 15px;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	background: #567;
	color: #FFF;
	}

h1, h2, h3, h4 {
	font-weight: normal;
	}

a {
	color: #08A;
	color: #8BD;
	color: #9CE;
	text-decoration: none;
	border-bottom: 1px solid #678;
	}
a:hover {
	border-bottom: 1px solid #789;
	}
small a {
	border-bottom: none;
	}
small a:hover {
	border-bottom: none;
	}

sup {
	line-height: 0;
	}

code {
	font-size: .9em;
	}

h1 {
	font-family: League Gothic, sans-serif;
	font-size: 1.25em;
	line-height: 1.2em;
	margin: 0;
	text-transform: uppercase;
	float: left;
	clear: both;
	text-align: center;
	}
h1 a {
	display: block;
	border: none;
	background: #345;
	color: #FFF;
	padding: 2px 20px 0 20px;
	width: 100px;
	margin-right: 20px;
	}
h1 a:hover {
	border: none;
	}
h2 {
	font-size: 2em;
	line-height: 1.5em;
	margin: 0;
	}
h3 {
	font-size: 1.25em;
	line-height: 1.2em;
	padding-top: .6em;
	}
h4 {
	font-size: 1em;
	margin: 3em 0 0 0;
	text-transform: uppercase;
	letter-spacing: .15em;
	}
p {
	margin: 1.5em 0 0 0;
	}
.ignore p+p {
	margin: 0;
	text-indent: 1.5em;
	}
p.footnote {
	font-size: .9em;
	line-height: 1.5em;
	margin: .75em 0;
	text-indent: 0;
	}

blockquote {
	margin: 0 .75em;
	padding: 0 0 0 .75em;
	border-left: 1px solid #678;
	}
blockquote p {
	font-size: .9em;
	line-height: 1.5em;
	margin: 1.5em 0 0 0;
	text-indent: 0;
	}

hr {
	border: none;
	border-top: 1px solid #678;
	margin: 1.5em auto;
	width: 300px;
	}
hr.space {
	border: none;
	}
hr.footnote {
	margin: 1.5em 0 0 0;
	width: 200px;
	}

.header {
	margin: 1.5em 0;
	}
.content {
	clear: both;
	padding: 1px 0;
	}
.post {
	clear: both;
	}
.date {
	font-family: League Gothic, sans-serif;
	font-size: 1.25em;
	line-height: 1.2em;
	margin: .6em 20px 0 0;
	text-transform: uppercase;
	float: left;
	background: #345;
	color: #FFF;
	padding: 2px 20px 0 20px;
	width: 100px;
	clear: both;
	text-align: center;
	background: #789;
	color: #456;
	white-space: nowrap;
	}
.essay {
	margin: .75em 20px 4.5em 160px;
	max-width: 600px;
	max-width: 540px;
	}
.title {
	margin: .75em 0 0 0;
	padding: .9em 0 0 0;
	}

.update {
	font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: smaller;
	}

.clear {
	clear: both;
	}