/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style: normal; font-weight: normal; }
li { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
abbr,acronym { border: 0; font-variant: normal; }
input,textarea,select { font-family: inherit; font-size: inherit; font-weight: inherit; }
a { text-decoration: none; color: inherit; }

/* Grid */
@media screen and (max-width: 600px) {.unit{float: none !important; width: auto !important;}}
.line:after,.lastUnit:after{clear:both;display:block;visibility:hidden;overflow:hidden;height:0 !important;line-height:0;font-size:xx-large;content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";}
.line{*zoom:1;}
.unit{float:left;padding: 0 1%;}
.size1of1{float:none;}
.size1of2{width:48%;}
.size1of3{width:31.33333%;}
.size2of3{width:64.66666%;}
.size1of4{width:23%;}
.size3of4{width:73%;}
.size1of5{width:18%;}
.size2of5{width:38%;}
.size3of5{width:58%;}
.size4of5{width:78%;}
.size1of7{width:12.2857%;}
.size2of7{width:26.5714%;}
.size3of7{width:40.8571%;}
.size4of7{width:55.1429%;}
.size5of7{width:69.4286%;}
.size6of7{width:83.7143%;}
.lastUnit{display:table-cell;float:none;width:auto;*display:block;*zoom:1;_position:relative;_left:-3px;_margin-right:-3px;}

/* Main */

html {
	margin: 0;
	padding: 0;
	}
body {
	font-family: "ff-meta-serif-web-pro-1", "ff-meta-serif-web-pro-2", Georgia, serif;
	font-size: 16px;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	background: #FFF;
	color: #333;
	text-rendering: optimizeLegibility;
	}

.wrapper { max-width: 960px; margin: 0 auto; padding: 0 30px; }
img { display: block; max-width: 100%; }

.container {
	padding: 0 30px;
	margin: 0 auto;
	}
#page {
	margin: 0;
	padding: 0;
	}

#head {
	padding: .75em 0;
	background: #222;
	font-weight: bold;
	}
#head a {
	color: #FFF;
	border: none;
	}

#main {
	padding: 1.5em 0;
	}

#footer {
	padding: .75em 0;
	margin: 0;
	background: #EEE;
	color: #93999F;
	}

h1, h2, h3, h4 {
	font-weight: normal;
	}

a {
	text-decoration: none;
	color: #468;
	border-bottom: 1px solid #D6DFE3;
	}
a:hover {
	border-bottom: 1px solid #C3CCCF;
	}
a.button {
	font-size: .9em;
	line-height: 2em;
	color: #FFF;
	background: #345;
	padding: 0 10px 2px;
	border: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	}
a.right {
	float: right;
	display: block;
	}
a.left {
	float: left;
	display: block;
	}
a.title small { font-weight: normal; white-space: nowrap; }
small a {
	color: #C3CCCF;
	border: none;
	}
small a:hover {
	color: #93999F;
	border: none;
	}
sup a {
	padding: 0 2px;
	}

sup {
	line-height: 0;
	}

em, cite {
	font-style: italic;
	}
em em, em cite, cite em, cite cite {
	font-style: normal;
	}
strong {
	color: #93999F;
	color: #678;
	}

code {
	color: #93999F;
	font-family: "inconsolata-1", "inconsolata-2", monospace;
	font-size: .95em;
	white-space: nowrap;
	}
pre {
	font-family: "inconsolata-1", "inconsolata-2", monospace;
	font-size: .95em;
	border-top: 1px solid #D6DFE3;
	border-bottom: 1px solid #D6DFE3;
	padding: 10px;
	margin-bottom: 1.57894737em;
	overflow: auto;
	}

h1 {
	font-size: 3em;
	line-height: 1.5em;
	margin: .5em 0;
	}
h1 a:hover {
	border: none;
	}
h2 {
	font-size: 3em;
	line-height: 1.5em;
	margin: 0 0 .5em 0;
	border-bottom: 1px solid #D6DFE3;
	}
h3 {
	font-weight: bold;
	font-size: 1.375em;
	line-height: 1.0909em;
	margin-bottom: 1.0909em;
	}
h3 a { border: none; color: #000; }
h3 a:hover { border: none; color: #468; }
h4 {
	font-size: 1em;
	margin: 3em 0 0 0;
	text-transform: uppercase;
	letter-spacing: .15em;
	}
p {
	margin: 1.5em 0 0 0;
	margin: 0 0 1.5em 0;
	}
.ignore p+p {
	margin: 0;
	text-indent: 1.5em;
	}
p.footnote {
	font-size: .9em;
	line-height: 1.5em;
	margin: .75em 0;
	text-indent: 0;
	}
.description p {
	color: #93999C;
	font-size: 1.2em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
	}

.caption p {
	font-size: .9em;
	line-height: 1.5em;
	}
not.pic img {
	border: 5px solid #D6DFE3;
	}

blockquote {
	margin: 0 .75em;
	padding: 0 0 0 .75em;
	border-left: 1px solid #C3CCCF;
	}
blockquote p {
	font-size: .9em;
	line-height: 1.5em;
	margin: 0 0 1.5em 0;
	text-indent: 0;
	}

ul {
	margin: 0 0 1.5em 1.5em;
	}
ul li {
	list-style: square;
	}

hr {
	border: none;
	border-top: 1px solid #C3CCCF;
	margin: 1.5em auto;
	width: 300px;
	}
hr.space {
	border: none;
	}
hr.footnote {
	margin: 1.5em 0 0 0;
	width: 200px;
	}

ul.inline {
	list-style: none;
	margin: 0;
	}
ul.inline li {
	float: left;
	margin-right: 20px;
	list-style: none;
	}
ul.right li {
	margin: 0 0 0 20px;
	}

p.sidenote {
	float: right;
	width: 250px;
	margin: 0 -270px 0 18px;
	}

.header {
	margin: 1.5em 0;
	}
.content {
	clear: both;
	padding: 1px 0;
	}
.date {
	color: #93999F;
	margin-bottom: 1.5em;
	}
.date a {
	border-bottom: none;
	}
h3+.date { margin-top: -1.5em; }
.title {
	}

.post {
	margin: 1.5em 0 3em 0;
	}
.post .date { margin-top: 1.5em; }
.post h3 { font-size: 2em; margin-top: .43em; }
.link {
	margin: 0 0 1.5em 0;
	}
.project {
	margin: 0 0 3em 0;
	}
.post:after, .link:after, .group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
	}

.update {
	color: #93999F;
	}

.right {
	float: right;
	}

.clear {
	clear: both;
	}