body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset,img { border: 0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style: normal; font-weight: normal; }
li { list-style: none; }
caption,th { text-align: left; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal; }
abbr,acronym { border: 0; font-variant: normal; }
input,textarea,select { font-family: inherit; font-size: inherit; font-weight: inherit; }
a { text-decoration: none; color: inherit; }

html {
	margin: 0;
	padding: 0;
	}
body {
	font-family: "ff-meta-serif-web-pro-1", "ff-meta-serif-web-pro-2", Georgia, serif;
	font-family: "chaparral-pro-1","chaparral-pro-2",sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	background: #F6F6F6;
	background: #E3DDD3;
	background: #FFF;
	color: #333;
	text-rendering: optimizeLegibility;
	}
#page {
	//width: 985px;
	//margin: 20px auto 30px auto;
	background: #FFF;
	}
#top_strip {
	background: #3586B9;
	background: #000;
	height: 8px;
	}

.container {
	width: 935px;
	padding: 0 30px;
	margin: 0;
	}

#head {
	border-bottom: 1px solid #EEE;
	padding: 0;
	font-weight: bold;
	font-size: 1.25em;
	}
#head .container { padding-top: .75em; padding-bottom: .6em; }
#head a {
	color: #333;
	text-decoration: none;
	}
#head a:hover { color: #3586B9; }

#main {
	padding: 1.5em 0;
	}

#footer {
	padding: .75em 0;
	margin: 0;
	color: #93999F;
	border-top: 1px solid #EEE;
	}

h1, h2, h3, h4 {
	font-weight: normal;
	}

a {
	text-decoration: underline;
	color: #3586B9;
	}
a.button {
	font-size: .9em;
	line-height: 2em;
	color: #FFF;
	background: #3586B9;
	padding: 1px 15px 0;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
a.right {
	float: right;
	display: block;
	}
a.left {
	float: left;
	display: block;
	}
a.title small { font-weight: normal; white-space: nowrap; }
small a {
	color: #C3CCCF;
	border: none;
	}
small a:hover {
	color: #93999F;
	border: none;
	}
sup a {
	padding: 0 2px;
	}

sup {
	line-height: 0;
	}

em, cite {
	font-style: italic;
	}
em em, em cite, cite em, cite cite {
	font-style: normal;
	}
strong {
	color: #93999F;
	color: #678;
	}

code {
	color: #93999F;
	font-family: "inconsolata-1", "inconsolata-2", monospace;
	font-size: .95em;
	white-space: nowrap;
	}
pre {
	font-family: "inconsolata-1", "inconsolata-2", monospace;
	font-size: .95em;
	border-top: 1px solid #D6DFE3;
	border-bottom: 1px solid #D6DFE3;
	padding: 10px;
	margin-bottom: 1.57894737em;
	overflow: auto;
	}

h1 {
	font-size: 3em;
	line-height: 1.5em;
	margin: 0 0 .5em 0;
	}
h1 a:hover {
	border: none;
	}
h2 {
	font-size: 3em;
	line-height: 1.5em;
	margin: 0 0 .5em 0;
	border-bottom: 1px solid #EEE;
	}
h3 {
	font-weight: bold;
	font-size: 1.375em;
	line-height: 1.0909em;
	margin-bottom: 1.0909em;
	}
h3 a { text-decoration: none; color: #333; }
h3 a:hover { text-decoration: none; color: #3586B9; }
h4 {
	font-size: 1em;
	margin: 3em 0 0 0;
	text-transform: uppercase;
	letter-spacing: .15em;
	}
p {
	margin: 1.5em 0 0 0;
	margin: 0 0 1.5em 0;
	}
.ignore p+p {
	margin: 0;
	text-indent: 1.5em;
	}
p.footnote {
	font-size: .9em;
	line-height: 1.5em;
	margin: .75em 0;
	text-indent: 0;
	}
.description p {
	color: #93999C;
	font-size: 1.2em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
	}

.caption p {
	font-size: .9em;
	line-height: 1.5em;
	}
.pic img {
	border: 5px solid #EEE;
	}

blockquote {
	margin: 0 .75em;
	padding: 0 0 0 .75em;
	border-left: 1px solid #EEE;
	}
blockquote p {
	font-size: .9em;
	line-height: 1.5em;
	margin: 0 0 1.5em 0;
	text-indent: 0;
	}

ul {
	margin: 0 0 1.5em 1.5em;
	}
ul li {
	list-style: square;
	}

hr {
	border: none;
	border-top: 1px solid #EEE;
	margin: 1.5em auto;
	width: 300px;
	}
hr.space {
	border: none;
	}
hr.footnote {
	margin: 1.5em 0 0 0;
	width: 200px;
	}

ul.inline {
	list-style: none;
	margin: 0;
	}
ul.inline li {
	float: left;
	margin-right: 20px;
	list-style: none;
	}
ul.right li {
	margin: 0 0 0 20px;
	}

p.sidenote {
	float: right;
	width: 250px;
	margin: 0 -270px 0 18px;
	}

.header {
	margin: 1.5em 0;
	}
.content {
	clear: both;
	padding: 1px 0;
	}
.date {
	color: #93999F;
	margin-bottom: 1.5em;
	}
.date a {
	border-bottom: none;
	}
h3+.date { margin-top: -1.5em; }
.title {
	}

.post {
	margin: 1.5em 0 3em 0;
	}
.post .date { margin-top: 1.5em; }
.post h3 { font-size: 2em; margin-top: .43em; }
.link {
	margin: 0 0 1.5em 0;
	}
.project {
	margin: 0 0 3em 0;
	}
.post:after, .link:after, .group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
	}

.update {
	color: #93999F;
	}

.right {
	float: right;
	}

.xx-large { font-size: xx-large; }
.x-large { font-size: x-large; }
.large { font-size: large; }
.medium { font-size: medium; }
.small { font-size: small; }
.x-small { font-size: x-small; }
.xx-small { font-size: xx-small; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.tight { letter-spacing: -.1em; }
.loose { letter-spacing: .1em; }
.arial { font-family: Arial; }
.lucidagrande { font-family: Lucida Grande; }
.verdana { font-family: Verdana; }
.times { font-family: Times; }
.timesnewroman { font-family: Times New Roman; }
.georgia { font-family: Georgia; }
.box {
	padding: 1px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	}
.example-box {
	padding: 20px 20px 1px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #000;
	background: #DDC;
	}
.example-box.one { width: 70px; }
.example-box.two { width: 200px; }
.example-box.three { width: 330px; }
.example-box.four { width: 460px; }
.example-box.five { width: 590px; }
.example-box.six { width: 720px; }
.example-box.seven { width: 850px; }
p.drop {
	margin-top: 3em;
	text-indent: -.5em;
	}
p.drop:first-letter {
	color: #456;
	font-size: 6em;
	}


.clear {
	clear: both;
	}