body {
	background: #FFF;
	color: #333;
	}
a {
	color: #468;
	border-bottom: 1px solid #D6DFE3;
	}
a:hover {
	border-bottom: 1px solid #C3CCCF;
	}
small a {
	color: #C3CCCF;
	}
small a:hover {
	color: #93999F;
	}
h1 a {
	background: #000;
	color: #FFF;
	}
blockquote {
	border-left: 1px solid #C3CCCF;
	}
hr {
	border-top: 1px solid #C3CCCF;
	}
.date {
	background: #93999F;
	color: #FFF;
	}
.update {
	color: #93999F;
	}