---
layout: default
title: Recent Work
published: true
bodyclass: dark
---

<div class="container">
	<h2>Recent Work</h2>
	{% for post in site.categories.work %}
	<div class="group project{% if forloop.last %} projectLast{% endif %}">
		<div class="column span-3">
			<div class="pic">
				<a href="{{ post.url }}"><img src="/media/images/{{ post.image }}" /></a>
			</div>
		</div>
		<div class="column span-4 last">
			<h3><a href="{{ post.url }}">{{ post.title | textilize | strip_html }}</a></h3>
			<div>
				{{ post.description | textilize }}
			</div>
			<p><a class="button right" href="{{ post.url }}">More &rsaquo;</a></p>
		</div>
	</div>
	{% endfor %}
</div><!-- /.container -->
