<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Nevan Scott{% if page.title %} &middot; {{ page.title | textilize | strip_html }}{% endif %}</title>
	<meta name="viewport" content="width=995;" />
	<link href="/index.xml" rel="alternate" title="Nevan Scott" type="application/atom+xml" />
	<link href="/media/css/grid.css" rel="stylesheet" type="text/css" />
	<link href="/media/css/main.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="http://use.typekit.com/omw4yuy.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-2065494-2']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
	{% if page.bodyclass == "home" %}
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	<script type="text/javascript" src="/media/js/main.js"></script>
	{% endif %}
</head>
<body{% if page.bodyclass %} class="{{ page.bodyclass }}"{% endif %}>
<div id="page">

{% if page.head != false %}
<div id="head">
	<div class="container">
		<div class="column span-3">
			<a href="/">Nevan Scott</a>
		</div>
		<div class="column span-4 last">
			<ul class="inline right">
				<li><a href="/work/">Work</a></li>
				<li><a href="/journal/">Journal</a></li>
				<li><a href="/movielog/">Movies</a></li>
				<li><a href="/about/">About</a></li>
			</ul>
		</div>
	</div><!-- /.container -->
</div><!-- /#head -->
{% endif %}

<div id="main">
{{ content }}
</div><!-- /#main -->

<div id="footer">
	<div class="container small">
		<div class="column span-5">
			Nevan Scott
			&middot;
			<a href="http://twitter.com/nevan">@nevan</a>
			&middot;
			nyc
		</div>
		<div class="column span-2 right last">
			<a href="/colophon/">Colophon</a>
		</div>
	</div><!-- /.container -->	
</div><!-- /#footer -->

</div><!-- /#page -->

</body>
</html>