---
layout: default
---

<div class="container">
	<h2>{{ page.title | textilize | strip_html }}</h2>
	<div class="column span-5 prepend-1 description">
		{{ page.description | textilize }}
	</div>
	<div class="column span-1 last">
		{% if page.external %}
		<p>
			<a class="button right" href="{{ page.external }}">Visit Site &rsaquo;</a>
		</p>
		{% endif %}
	</div>
	{% for slide in page.slides %}
	<div class="group">
		<div class="column span-5">
			<div class="pic">
				<img src="/media/images/{{ slide.image }}" />
			</div>
		</div>
		<div class="column span-2 caption last">
			{{ slide.description | textilize }}
		</div>
	</div>
	{% endfor %}
	<div class="column span-4 prepend-1 append-2 last">
		{{ content }}
	</div>
</div><!-- /.container -->
