---
layout: default
published: false
---

<hr class="space" />

<div class="container">
	<div class="column span-5 append-2 last">
		{% for post in site.categories.notes %}
		<div class="post">
			<div class="column span-1">
				<div class="date">
					<a href="{{ post.url }}">{{ post.date | date_to_string }}</a>
				</div>
			</div>
			<div class="column span-4 last">
				<div class="essay">
					<h3>{{ post.title | textilize | strip_html }}</h3>
					{% if post.lede %}
					{{ post.lede | textilize }}
					<a class="button right" href="{{ post.url }}">Go on&hellip;</a>
					{% else %}
					{{ post.content }}
					{% endif %}
				</div>
			</div>
		</div><!-- /.post -->
		{% endfor %}
	</div>
</div><!-- /.container -->